{% block body %}
  <div class="inner_content">
    <h2>Uninstall Adobe Flash Player</h2><br>

    <h3>Host-by-host basis (Manually)</h3>
    <ol class="instructions">
      <li>
        Click <a href="https://fpdownload.macromedia.com/get/flashplayer/current/support/uninstall_flash_player.exe">here</a> to download the uninstaller for Flash Player.
      </li>
      <li>
        Exit all browsers and other programs that use Flash Player.
      </li>
      <li>
        Run the uninstaller and follow the on-screen instructions.
      </li>
      <li>
        Restart the machine and verify that the uninstallation is complete.
      </li>
    </ol>
    <br>

    <h3>Bulk uninstall (Automatic)</h3>
    <ol class="instructions">
      <li>
        Download the adobeflash script <a href="scripts">here</a> and execute it in the machine's Windows PowerShell.
      </li>
    </ol>
  </div>
{% endblock %}
