{% block body %}
  <div class="inner_content">
    <h2>Update Microsoft Applications</h2><br>

    <h3>Host-by-host basis (Manually)</h3>
    <ol>
      <li>
        Go to <b>Microsoft Store</b> on the machine.
      </li>
      <li>
        Click the Library button at the bottom left corner of the screen, then <b>Get updates</b>. If there are updates, it will start installing automatically.
      </li>
    </ol>
    <br>

    <h3>Bulk updates (Automatic)</h3>
    <ol class="instructions">
      <li>
        Download either one of the microsoftapps scripts <a href="scripts">here</a> and execute it in the machine's Windows Command Prompt or PowerShell.
      </li>
    </ol>

    <div class="alert alert-light">
      <b>Note:</b> Some applications manage their own updates.
      <hr>
      <b>If there still are issues with updating Microsoft Applications</b><br>
      Uninstall and reinstall the applications.
    </div>
  </div>
{% endblock %}
