{% block body %}
  <div class="inner_content">
    <h2>Update Microsoft 365 (Office)</h2>

    <h3>Host-by-host basis (Manually)</h3>
    <ol class="instructions">
      <li>Open any Office app.</li>
      <li>
        Go to <b>Account</b> > <b>Update Options</b> > <b>Update Now</b>. Or alternatively,
      </li>
      <li>
        Go to <b>File</b> > <b>Account</b> > <b>Update Options</b> > <b>Update Now</b>.
      </li>
    </ol>

    <div class="alert alert-light">
      <b>Note:</b> By default, the Windows version of Microsoft Office 365, Office 2021 and Office 2019 all update automatically.
    </div>
  </div>
{% endblock %}
