{% block body %}
  <div class="inner_content">
    <h2>Windows Update</h2><br>

    <h3>Host-by-host basis (Manually)</h3>
    <h4>Windows 10</h4>
    <ol class="instructions">
      <li>
        Go to <b>Settings</b> > <b>Update & Security</b> > <b>Windows Update</b>,
      </li>
      <li>
        Click <b>Check for updates</b>.
      </li>

    </ol>

    <h4>Windows 11</h4>
    <ol class="instructions">
      <li>
        Go to <b>Settings</b> > <b>Windows Update</b>,
      </li>
      <li>
        Click <b>Check for updates</b>.
      </li>
    </ol>
    <br>

    <h3>Bulk updates (Automatic)</h3>
    <ol class="instructions">
      <li>
        Download either of the googlechrome scripts <a href="scripts">here</a> and execute it in the machine's Windows Command Prompt or PowerShell.
      </li>
    </ol>
  </div>
{% endblock %}
