<table>
  <caption hidden>Firefox</caption>
  <tr>
    <th>Script Name:</th>
    <td><a href="{{ url_for('static', filename='scripts/firefox.bat') }}" title="Click to download" download>firefox.bat</a></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>Batch script to update Mozilla Firefox to the latest version.</td>
  </tr>
  <tr>
    <th>Command(s):</th>
    <td>
      <div>
        <u>Command Prompt</u>
        <p id="command">firefox.bat</p>
      </div>
      <div>
        <u>PowerShell</u>
        <p id="command">./firefox.bat</p>
      </div>
    </td>
  </tr>
</table>
