<table>
  <caption hidden>Office365</caption>
  <tr>
    <th>Script Name:</th>
    <td><a href="{{ url_for('static', filename='scripts/office365.bat') }}" title="Click to download" download>office365.bat</a></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>
      Batch script to update Microsoft 365 (Office).
    </td>
  </tr>
  <tr>
    <th>Command(s):</th>
    <td>
      <div>
        <u>Command Prompt</u>
        <p id="command">office365.bat</p>
      </div>
      <div>
        <u>PowerShell</u>
        <p id="command">./office365.bat</p>
      </div>
    </td>
  </tr>
</table>
