<table>
  <caption hidden>Reboot</caption>
  <tr>
    <th>Script Name:</th>
    <td><a href="{{ url_for('static', filename='scripts/reboot.bat') }}" title="Click to download" download>reboot.bat</a></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>
      Batch script to reboot local machine.
    </td>
  </tr>
  <tr>
    <th>Command(s):</th>
    <td>
      <div>
        <u>Command Prompt</u>
        <p id="command">reboot.bat</p>
      </div>
      <div>
        <u>PowerShell</u>
        <p id="command">./reboot.bat</p>
      </div>
    </td>
  </tr>

  <tr>
    <th>Script Name:</th>
    <td><a href="{{ url_for('static', filename='scripts/reboot.ps1') }}" title="Click to download" download>reboot.ps1</a></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>
      PowerShell script to reboot local machine.
    </td>
  </tr>
  <tr>
    <th>Command(s):</th>
    <td>
      <div>
        <u>PowerShell</u>
        <p id="command">./reboot.ps1</p>
      </div>
    </td>
  </tr>
</table>
