<div class="row">
  <div class="card col-md-6 col-sm-12">
    <canvas id="riskbarchart" >

    </canvas>
  </div>
  <div class="card col-md-6 col-sm-12">
    <canvas id="piechart" >

    </canvas>
  </div>
</div>
<script type="text/javascript">
  var byrisk = document.getElementById('riskbarchart').getContext('2d');
  var riskbarchart = new Chart(byrisk, {
    type: 'bar',
    data: {
      labels: {{ labels | safe }},
      datasets: [
      {
        label: "Critical",
        data: {{ critical_data | safe }},
        backgroundColor: [
          'rgba(244,67,54, 0.4)',
        ],
        borderColor: [
          'rgb(255, 99, 132)',
        ],
        borderWidth: 2
    },
    {
      label: "High",
      data: {{ high_data | safe }},
      backgroundColor: [
        'rgba(255, 159, 64, 0.4)',
      ],
      borderColor: [
        'rgb(255, 159, 64)',
      ],
      borderWidth: 2
    },
    {
      label: "Medium",
      data: {{ medium_data | safe }},
      backgroundColor: [
        'rgba(255, 205, 86, 0.4)',
      ],
      borderColor: [
        'rgb(255, 205, 86)',
      ],
      borderWidth: 2
    }]},
    options: {
      maintainAspectRatio: false,
      scale: {
        ticks: {precision: 0}
      },
      plugins: {
        title: {
          display: true,
          text: "Vulnerabilities across the System",
        },
        legend: {
          position: "bottom",
        },
        tooltip: {
          enabled: false
        },
        datalabels: {
          formatter: (value, context) => {
            return value;
          },
          align: "end",
          anchor: "end"
        }
      },
    },
    plugins: [ChartDataLabels]
  });

  var ctx = document.getElementById('piechart').getContext('2d');
  var piechart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: {{ piechart_labels | safe }},
      datasets: [
        {
          label: {{ piechart_labels | safe }},
          data: {{ piechart_values | safe }},
          backgroundColor: [
            'rgba(217,234,211, 0.7)',
            'rgba(244,67,54, 0.3)',

          ],
          hoverOffset: 4
        }
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: "Mitigated vs Non-mitigated",
        },
        legend: {
          position: "bottom",
        },
        tooltip: {
          enabled: false
        },
        datalabels: {
          formatter: (value, context) => {
            const datapoints = context.chart.data.datasets[0].data;
            function totalSum(total, datapoints){
              return total + datapoints;
            }
            const totalValue = datapoints.reduce(totalSum, 0);
            const percentageValue = (value / totalValue * 100).toFixed(1);
            const display = [`${value}`, `${percentageValue}%`]
            return display;
          }
        }
      }
    },
    plugins: [ChartDataLabels]
    }
  );
</script>
